
@{
    ViewBag.Title = "Gizlilik Politika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="banner">
    <div class="container">
        <div class="row">
            <h3 class="tt-title">GİZLİLİK POLİTİKASI</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="breadcrumb">
            <ul>
                <li><a href="/Home/Index">Anasayfa</a></li>
                <li><i class="icofont icofont-double-right"></i></li>
                <li><a href="/GizlilikPolitika/GizlilikPolitika">Gizlilik Politikası</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="overview cellpadding">
    <div class="container">
        <div class="row">


            <h1>NZD <span>İnşaat Gizlilik Politikamız </span></h1>

            <p>NZD İnşaat web sitesi, sizinle ilgili bilgilerin nasıl kullanıldığı ve paylaşıldığının sizin için önemli olduğunu bilmektedir. Bu bilgilerin kullanım ve paylaşımın dikkatli ve hassas bir şekilde yapılmasında bize olan güveninize teşekkür ederiz. Bu beyan gizlilik politikamıza dair açıklamalar içermektedir. NZD İnşaat web sitesini ziyaret etmekle bu gizlilik beyanında belirtilen uygulamaları kabul etmiş ve bunlara uymayı taahhüt etmiş sayılmaktasınız.NZD  İnşaat web sitesindeki bilgi toplama ve yayma uygulamalarımız aşağıda açıklanmaktadır.
            <p>IP Adresiniz</p>
            IP adresinizi sunucumuzdaki problemleri teşhis etmek ve web sitemizi yönetmek amacıyla kullanmaktayız. IP adresiniz sizi tanımlamaya yardım etmek ve sizinle ilgili genel demografik bilgileri toplamak için kullanılabilir.
            <p>Sizden talep ettiğimiz bilgiler</p>
            Sitemizdeki kayıt formları, irtibat bilgilerinizi (örneğin isminiz, email adresiniz, telefon numaralarınız ve posta adresiniz) ve demografik bilgilerinizi vermenizi talep etmektedir. İrtibat bilgilerini nasıl kullanıyoruz? İrtibat bilgileriniz gereken hallerde sizinle sitemizde yaptığınız işlemlerle ilgili olarak temas kurabilmek için kullanılmaktadır. İrtibat bilgilerinizi, üçüncü şahıslar ile paylaşılmaz. Diğer siteler/üçüncü taraf satıcılar ve bunların gizlilik politikaları Bu sitede diğer sitelerin linkleri bulunabilir. NZD İnşaat bu web sitelerinin gizlilik uygulamaları veya içeriklerinden veya üçüncü tarafların gizlilik politikaları ve uygulamalarından sorumlu değildir.
            <p>Bildirimler ve Revizyonlar</p>
            Son değişiklikleri görmek için web sitemizi sık sık ziyaret etmelisiniz. Aksi belirtilmediği takdirde, mevcut gizlilik politikamız siz ve hesabınızla ilgili olarak elimizde bulunan bütün bilgiler için geçerlidir. Verdiğimiz sözlerin arkasında durmaktayız.
            <div class="empty-space lg-30 sm-30 xs-30"></div>

        </div>
    </div>
</div>

		  </div>

<br /><br />
<div class="footer_strip footer_strip_02">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer_main">
                    <img src="~/Content/Nzd/assets/images/home2/logo.png" class="img-responsive" alt="Footer-Logo">
                    <div class="simple-text">
                        <p> Yenibosna Merkez Mah. Değirmenbahçe Cad. Airporthill C 11/9 D: 13 Bahçelievler/İstanbul</p>
                    </div>
                    <ul>
                        <li><a href="https://www.linkedin.com/company/26205867/admin/"><i class="icofont icofont-social-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/nzdinsaat/"><i class="icofont icofont-social-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/Nzd-%C4%B0n%C5%9Faat-Tic-Ltd-%C5%9Eti-111595270220008/?modal=admin_todo_tour"><i class="icofont icofont-social-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC0ieLPLdjtHh40wY-tP001A/about?disable_polymer=1"><i class="icofont icofont-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="footer_one">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-phone"></i> Telefon</h4>
                        <p>+90 (212) 551 90 61</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-envelope"></i> Email </h4>
                        <p><a href="mailto:info@nzdinsaat.com">info@nzdinsaat.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer_bottom">
    <div class="row">
        <div class="col-md-6">
            <div class="copyright">
                <p><span><a href="https://www.bykuul.com.tr">Bykuul Creative</a></span>© 2019 Tüm Hakları Saklıdır.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links">
                <ul>
                    <li><a href="/YasalUyari/YasalUyari">Yasal Uyarı </a></li>
                    <li><a href="/CerezPolitika/CerezPolitika">Çerez Politikamız </a></li>
                    <li><a href="/GizlilikPolitika/GizlilikPolitika">Gizlilik Politikamız </a></li>
                    <li><a href="/Hakkimizda/Hakkimizda">Hakkımızda </a></li>
                    <li><a href="/Iletisim/Iletisim"> İletişim</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

