
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutEnglish.cshtml";
}


<div class="banner">
    <div class="container">
        <div class="row">
            <h3 class="tt-title">PRIVACY POLICY</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="breadcrumb">
            <ul>
                <li><a href="/Home/Indexen">Home Page</a></li>
                <li><i class="icofont icofont-double-right"></i></li>
                <li><a href="/GizlilikPolitika/PrivacyPolicy">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="overview cellpadding">
    <div class="container">
        <div class="row">


            <h1>NZD <span>Construction Privacy Policy</span></h1>

            <p>NZD Construction Web Site knows how important it is for you to use and share information about you. We appreciate your trust in the careful and accurate use and sharing of this information. This statement contains explanations of our privacy policy. By visiting the NZD Construction website, you are deemed to have accepted and committed to comply with the practices set out in this privacy statement. NZD Construction website (site) information collection and dissemination practices are described below.</p>
            <p>Your IP Address</p>
            We use your IP address to diagnose problems on our server and to manage our website. Your IP address can be used to help identify you and collect general demographic information about you.
            <p>Information we request from you</p>
            The registration forms on our site require you to provide your contact information (eg. your name, email address, telephone numbers and postal address) and demographic information. How do we use contact information? Your contact information is used when necessary to contact you regarding your transactions on our site. Your contact information will not be shared with third parties. Other sites / third party vendors and their privacy policies this site may contain links to other sites. NZD Construction is not responsible for the privacy practices or the content of these websites or the privacy policies and practices of third parties.
            <p>Notifications and Revisions</p>
            You should visit our website frequently to see the latest changes. Unless otherwise stated, our current privacy policy applies to all information we have about you and your account. We stand behind our promises.

            <div class="empty-space lg-30 sm-30 xs-30"></div>

        </div>
    </div>
</div>

		  </div>

<br /><br />
<div class="footer_strip footer_strip_02">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer_main">
                    <img src="~/Content/Nzd/assets/images/home2/logo.png" class="img-responsive" alt="Footer-Logo">
                    <div class="simple-text">
                        <p> Yenibosna Central Neighborhood Değirmenbahçe Street Airporthill C 11/9 D: 13 Bahçelievler/İstanbul</p>
                    </div>
                    <ul>
                        <li><a href="https://www.linkedin.com/company/nzdinsaat/"><i class="icofont icofont-social-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/nzdinsaat/"><i class="icofont icofont-social-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/Nzd-%C4%B0n%C5%9Faat-Tic-Ltd-%C5%9Eti-111595270220008/?modal=admin_todo_tour"><i class="icofont icofont-social-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC0ieLPLdjtHh40wY-tP001A/about?disable_polymer=1"><i class="icofont icofont-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="footer_one">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-phone"></i>Phone</h4>
                        <p>+90 (212) 551 90 61</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-envelope"></i> Email </h4>
                        <p><a href="mailto:info@nzdinsaat.com">info@nzdinsaat.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer_bottom">
    <div class="row">
        <div class="col-md-6">
            <div class="copyright">
                <p><span><a href="https://www.bykuul.com.tr">Bykuul Creative</a></span>© 2019 All Rights Reserved.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links">
                <ul>
                    <li><a href="/YasalUyari/LegalWarning">Legal Warning</a></li>
                    <li><a href="/CerezPolitika/CookiePolicy">Cookie Policy</a></li>
                    <li><a href="/GizlilikPolitika/PrivacyPolicy">Privacy Policy</a></li>
                    <li><a href="/Hakkimizda/About">About Us </a></li>
                    <li><a href="/Iletisim/Contact"> Contact</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

