<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <link rel="icon" type="image/png" href="~/Content/Nzd/assets/images/favicon.png" />
    <link href="~/Content/Nzd/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Nzd/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Nzd/assets/css/responsive.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/Content/Nzd/assets/css/font-awesome.min.css">
    <link href="~/Content/Nzd/assets/css/animate.css" rel="stylesheet">
    <link href="~/Content/Nzd/assets/css/icofont.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Nzd/assets/css/swiper.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Nzd/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/Nzd/assets/css/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Nzd/assets/css/fontawesome.css">
    <title>NZD İnşaat | @ViewBag.Title</title>
</head>
<body>
    <header class="header2 header3">
        <div class="tt-header">
            <div class="container">
                <div class="top-inner clearfix">
                    <div class="logo pull-left main-logo"><a href="index.html"><img src="~/Content/Nzd/assets/images/home2/logo.png" class="img-responsive" alt=""></a></div>
                    <a class="responsive_logo" href="/Home/Index"><img src="~/Content/Nzd/assets/images/responsive_logo.png" alt=""></a>
                    <div class="cmn-toggle-switch"><span></span></div>
                </div>
                <div class="header_top_03">

                </div>
                <div class="pull-right">
                    <h5>  <a href="/Home/Indexen"><font color="#ffffff"><p><b>&nbsp;EN</b></p></font></a>  </h5>
                </div>


                <div class="pull-right">
                    <h5> <b> <a href="/Home/Index"><font color="#ffffff">TR |   </font></a> </b> </h5>
                </div>
                <div class="toggle-block">
                    <div class="toggle-block-container">
                        <nav class="main-nav clearfix">
                            <ul>
                                <li class="last">
                                    <a href="~/Content/Nzd/index.html"><span>Anasayfa&nbsp;&nbsp;&nbsp;</span></a>
                                </li>

                                <li class="parent">
                                    <a href="hakkimizda.html"><span>&nbsp;&nbsp;&nbsp;&nbsp;Hakkımızda<i class="menu-toggle fa fa-angle-down"></i></span></a>
                                    <ul>
                                        <li class="parent"><a href="~/Content/Nzd/isortaklarimiz.html"><span>İş Ortaklarımız</span></a></li>
                                        <li class="parent"><a href="~/Content/Nzd/cozumortaklarimiz.html"><span>Çözüm Ortaklarımız</span></a></li>
                                        <li class="parent"><a href="~/Content/Nzd/makineparki.html"><span>Makine Parkı</span></a></li>
                                    </ul>
                                </li>
                                <li class="last">
                                    <a href="~/Content/Nzd/insaat.html"><span>&nbsp;&nbsp;&nbsp;&nbsp;İnşaat</span></a>
                                </li>

                                <li class="last">
                                    <a href="~/Content/Nzd/sehircilik.html"><span>&nbsp;&nbsp;&nbsp;&nbsp;Şehircilik</span></a>

                                </li>

                                <li class="last">
                                    <a href="~/Content/Nzd/enerji.html"><span>&nbsp;&nbsp;&nbsp;&nbsp; Enerji</span></a>
                                </li>

                                <li class="last">
                                    <a href="~/Content/Nzd/projeler.html"><span>&nbsp;&nbsp;&nbsp;&nbsp; Projeler</span></a>
                                </li>

                                <li class="last">
                                    <a href="~/Content/Nzd/iletisim.html"><span>&nbsp;&nbsp;&nbsp;&nbsp;İletişim</span></a>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="content-wrapper">
        @RenderBody()
    </div>

    <script src="~/Content/Nzd/assets/js/jquery.min.js"></script>
    <script src="~/Content/Nzd/assets/js/jquery.shuffle.min.js"></script>
    <script src="~/Content/Nzd/assets/js/custom.js"></script>
    <script src="~/Content/Nzd/assets/js/global.js"></script>
    <script src="~/Content/Nzd/assets/js/swiper.jquery.min.js"></script>
    <script src="~/Content/Nzd/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/Nzd/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Nzd/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/Nzd/assets/js/code.js"></script>
    <script src="~/Content/Nzd/assets/js/jquery.barfiller.js"></script>
</body>
</html>
