
@{
    ViewBag.Title = "Çerez Politika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div class="container">
        <div class="row">
            <h3 class="tt-title">ÇEREZ POLİTİKASI</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="breadcrumb">
            <ul>
                <li><a href="/Home/Index">Anasayfa</a></li>
                <li><i class="icofont icofont-double-right"></i></li>
                <li><a href="/CerezPolitika/CerezPolitika">Çerez Politikası</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="overview cellpadding">
    <div class="container">
        <div class="row">


            <h1>NZD <span>İnşaat Çerez Politikamız </span></h1>
            <p>Çerez nedir?</p>
            Çerez, bir web sitesinin tarayıcınızdan, bilgisayarınızda veya mobil cihazınızda saklamasını istediği küçük bir veri parçasıdır. Çerez, web sitesinin eylemlerinizi veya tercihlerinizi zaman içerisinde "hatırlamasına" imkân verir. Çoğu web tarayıcısı çerezleri destekler; ancak, kullanıcılar tarayıcılarını belirli türlerde çerezleri veya özel çerezleri reddedecek şekilde ayarlayabilirler. Bunun yanı sıra kullanıcılar diledikleri zaman çerezleri silebilirler.
            <p>Çerez Türleri</p>
            Çerezler süre bakımından veya ait oldukları alan adına göre sınıflandırılabilmektedir. Çerezler, süre bakımından sınıflandırılmaları durumunda, oturum çerezleri ve kalıcı çerezler olmak üzere ikiye ayrılmaktadır. Oturum çerezleri, kullanıcının tarayıcıyı kapatması üzerine silinen çerezleri ifade ederken, kalıcı çerezler ise önceden belirlenen bir süre boyunca kullanıcının bilgisayarında/cihazında kalan çerezlerdir. Çerezler ait oldukları alan adına (domain) göre sınıflandırılmaları durumunda ise ilişkili taraf çerezi ve üçüncü kişi çerezi olmak üzere ikiye ayrılır. Ziyaret edilen alan tarafından yerleştirilen çerezler ilişkili taraf çerezleri olarak adlandırılırken, ziyaret edilen farklı bir alan tarafından yerleştirilen çerezler ise üçüncü kişi çerezi olarak ifade edilmektedir. Ziyaret edilen alan dışındaki kişilerin, ziyaret edilen alan üzerinden kullanıcı cihazına çerez yerleştirmeleri durumunda üçüncü kişi çerezi söz konusudur.
            <p>Çerez kullanımı</p>
            NZD İnşaat internet sitesini ziyaret ederek NZD İnşaat'ın web sitesinin kullanımı için gerekli olan çerezlerin cihazınıza yerleştirmesini kabul edersiniz. Trans-t İnşaat, çerezler sayesinde topladığı bilgileri  NZD İnşaat Gizlilik Politikası doğrultusunda kullanır.
            NZD İnşaat'ın cihazınıza çerezler yerleştirmesini istemiyorsanız tarayıcınızın ayarları veya seçenekleri vasıtasıyla çerezlerin kullanımını reddedebilirsiniz. Bu durumda NZD İnşaat'ın bazı alanlarını düzgün biçimde kullanamayabilirsiniz.
            NZD İnşaat'ın, gerekli gördüğü durumlarda, bu Çerez (Cookie) Politikasını değiştirebilir. Çerez Politikasının değiştirildiği hallerde sayfanın üst kısmındaki güncelleme tarihinden itibaren geçerli olacaktır. Çerez (Cookie) Politikası'nı belirli zamanlarda inceleyerek, çerez kullanımı ile ilgili bilgi edinmenizi tavsiye ederiz.
            <p>NZD İnşaat 4 tür çereze kadar kullanır:</p>
            Kesinlikle gerekli çerezler Ziyaretçilere www.nzdinsaat.com gezinme olanağı sağlayan isimsiz çerezler, özelliklerini kullanarak güvenli alanlara erişirler. Bu çerezler tarafından toplanan bilgiler pazarlama amaçlı kullanılamaz. Bu tür çerezlerin kullanımına izin verilmezse www.nzdinsaat.com'un çeşitli bölümleri kullanılamaz.
            Performans çerezleri Trans-t İnşaat'ın web sitesini geliştirmesine yardımcı olan isimsiz çerezlerdir. Bu tür çerezler, ziyaretçilerin www.nzdinsaat.com'u nasıl kullandıkları hakkında bilgiler toplayarak, en çok ziyaret edilen sayfalar veya alınan hataların tespitinde kullanılır. Bu türe bir örnek Web Analytics çerezlerdir. Bu çerezler tarafından toplanan bilgiler pazarlama amaçlı kullanılamaz ve üçüncü şahıslara verilemez.
            Fonksiyonellik çerezleri NZD İnşaat'ın ziyaretçi özellik ve tercihlerini hatırlamasına olanak sağlayan isimsiz çerezlerdir. Bu bilgilere dayanarak www.nzdinsaat.com her ziyaretçiye toplanan bilgiler doğrultusunda içerik gösterebilir. Bu tür çerezlerin kullanımına izin verilmemesi durumunda;
            <p>www.nzdinsaat.com'un bazı bölümleri kullanılamayabilir,</p>
            <p>www.nzdinsaat.com'un sağlayabileceği desteğin seviyesini düşürebilir,</p>
            www.nzdinsaat.com'un tercihlerinizi hatırlamaması, size özel bir özelliğin kullanılmaması ya da gösterilmemesine neden olabilir. Tercihlerinizi hatırlamasını engeller.
            Hedef çerezleri veya reklam çerezleri Bu tür çerezler, NZD İnşaat'ın bilgisi doğrultusunda genellikle www.nzdinsaat.com'un reklam ağları tarafından yerleştirilir. Söz konusu çerezlerin kullanım amaçları aşağıdaki gibidir;
            <li>İlgili ve kişiselleştirilmiş reklamları göstermek</li>
            <li>Gösterilen reklam sayısını sınırlamak</li>
            <li>Reklam kampanyasının etkinliğini ölçmek</li>
            <li>Ziyaret tercihlerinizi hatırlamak</li>

            <div class="empty-space lg-30 sm-30 xs-30"></div>

        </div>
    </div>
</div>

		  </div>

<br /><br />
<div class="footer_strip footer_strip_02">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer_main">
                    <img src="~/Content/Nzd/assets/images/home2/logo.png" class="img-responsive" alt="Footer-Logo">
                    <div class="simple-text">
                        <p> Yenibosna Merkez Mah. Değirmenbahçe Cad. Airporthill C 11/9 D: 13 Bahçelievler/İstanbul</p>
                    </div>
                    <ul>
                        <li><a href="https://www.linkedin.com/company/26205867/admin/"><i class="icofont icofont-social-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/nzdinsaat/"><i class="icofont icofont-social-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/Nzd-%C4%B0n%C5%9Faat-Tic-Ltd-%C5%9Eti-111595270220008/?modal=admin_todo_tour"><i class="icofont icofont-social-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC0ieLPLdjtHh40wY-tP001A/about?disable_polymer=1"><i class="icofont icofont-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="footer_one">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-phone"></i> Telefon</h4>
                        <p>+90 (212) 551 90 61</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-envelope"></i> Email </h4>
                        <p><a href="mailto:info@nzdinsaat.com">info@nzdinsaat.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer_bottom">
    <div class="row">
        <div class="col-md-6">
            <div class="copyright">
                <p><span><a href="https://www.bykuul.com.tr">Bykuul Creative</a></span>© 2019 Tüm Hakları Saklıdır.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links">
                <ul>
                    <li><a href="~/Content/Nzd/yasaluyari.html">Yasal Uyarı </a></li>
                    <li><a href="~/Content/Nzd/cerezpolitika.html">Çerez Politikamız </a></li>
                    <li><a href="~/Content/Nzd/gizlilikpolitika.html">Gizlilik Politikamız </a></li>
                    <li><a href="~/Content/Nzd/hakkimizda.html">Hakkımızda </a></li>
                    <li><a href="~/Content/Nzd/iletisim.html"> İletişim</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

