
@{
    ViewBag.Title = "Cookie Policy";
    Layout = "~/Views/Shared/_LayoutEnglish.cshtml";
}

<div class="banner">
    <div class="container">
        <div class="row">
            <h3 class="tt-title">COOKIE POLICY</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="breadcrumb">
            <ul>
                <li><a href="/Home/Index">Home Page</a></li>
                <li><i class="icofont icofont-double-right"></i></li>
                <li><a href="/CerezPolitika/CookiePolicy">Cookie Policy</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="overview cellpadding">
    <div class="container">
        <div class="row">


            <h1>NZD <span>Construction Cookie Policy </span></h1>
            <p>What is a cookie?</p>
            A cookie is a small piece of data that a website requests from your browser, on your computer, or on your mobile device. A cookie allows the website to "remember" your actions or preferences over time. Most web browsers support cookies; however, users can set their browser to reject certain types of cookies or custom cookies. In addition, users can delete cookies at any time.
            <p>Types of Cookies</p>
            Cookies can be classified in terms of duration or domain name. Cookies are classified into session cookies and persistent cookies if they are classified in terms of duration. Session cookies refer to cookies that are deleted when the user closes the browser, while persistent cookies are cookies that remain on the user's computer / device for a predetermined period of time. If the cookies are classified according to the domain they belong to, the related party cookie and third party cookie are divided into two. Cookies placed by the visited domain are referred to as related party cookies, while cookies placed by a different visited domain are referred to as third party cookies. A third party cookie is required if people outside the visited area place cookies on the user device through the visited area.
            <p>Use of cookies</p>
            By visiting the NZD Construction website, you agree to the use of NZD Construction's cookies on your device. NZD Construction uses the information it collects through cookies in accordance with the NZD Construction Privacy Policy.
            If you do not want NZD Construction to place cookies on your device, you may refuse the use of cookies through your browser settings or options. In this case, you may not be able to use some areas of NZD Construction properly. NZD Construction may change this Cookie Policy if it deems it necessary. If the Cookie Policy is changed, it will be effective as of the update date at the top of the page. We recommend that you review the Cookie Policy at specific times and learn about the use of cookies. NZD Construction uses up to 4 types of cookies: Absolutely necessary cookies. Anonymous cookies, which enable visitors to browse www.nzdinsaat.com, access their secure areas using their features. The information collected by these cookies may not be used for marketing purposes. Various sections of www.nzdinsaat.com may not be used if such cookies are not permitted.
            Performance cookies are anonymous cookies that help NZD Construction develop its website. These types of cookies are used to identify the most visited pages or errors received by collecting information about how visitors use www.nzdinsaat.com. An example of this type is Web Analytics cookies. The information collected by these cookies may not be used for marketing purposes and may not be passed on to third parties.
            Functionality cookies are anonymous cookies that allow NZD Construction to remember visitor characteristics and preferences. Based on this information, www.nzdinsaat.com can show content to each visitor in accordance with the information collected. In the event that the use of such cookies is not allowed;
            <li>Some parts of www.nzdinsaat.com may not be available,</li>
            <li>Reduce the level of support that www.nzdinsaat.com can provide,</li>
            Failure of www.nzdinsaat.com to remember your preferences may result in a special feature not being used or displayed. Prevents them from remembering your preferences.
            Target cookies or advertising cookies. Such cookies are usually placed by the advertising networks of www.nzdinsaat.com with the knowledge of NZD Construction. The purposes of these cookies are as follows;
            Show relevant and personalized ads
            <li>Limit the number of ads shown</li>
            <li>Measuring the effectiveness of an ad campaign</li>
            <li>Remembering your visit preferences</li>
            <p>About Us</p>
            Underlying the success of innovative projects with the knowledge and experience gained since the day it was founded, is to be productive workforce, advanced technology, always open to innovation and development, and to be determined and hard to achieve targets. When the success of each project is taken into consideration, the fact that the concept of de Right Place, Right Time, Right Project is combined with NZD Construction professional business approach has become a generally accepted understanding.

            <div class="empty-space lg-30 sm-30 xs-30"></div>

        </div>
    </div>
</div>

		  </div>

<br /><br />
<div class="footer_strip footer_strip_02">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer_main">
                    <img src="~/Content/Nzd/assets/images/home2/logo.png" class="img-responsive" alt="Footer-Logo">
                    <div class="simple-text">
                        <p> Yenibosna Central Neighborhood Değirmenbahçe Street Airporthill C 11/9 D: 13 Bahçelievler/İstanbul</p>
                    </div>
                    <ul>
                        <li><a href="https://www.linkedin.com/company/26205867/admin/"><i class="icofont icofont-social-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/nzdinsaat/"><i class="icofont icofont-social-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/Nzd-%C4%B0n%C5%9Faat-Tic-Ltd-%C5%9Eti-111595270220008/?modal=admin_todo_tour"><i class="icofont icofont-social-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC0ieLPLdjtHh40wY-tP001A/about?disable_polymer=1"><i class="icofont icofont-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="footer_one">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-phone"></i>Phone</h4>
                        <p>+90 (212) 551 90 61</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-envelope"></i> Email </h4>
                        <p><a href="mailto:info@nzdinsaat.com">info@nzdinsaat.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer_bottom">
    <div class="row">
        <div class="col-md-6">
            <div class="copyright">
                <p><span><a href="https://www.bykuul.com.tr">Bykuul Creative</a></span>© 2019 All Rights Reserved.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links">
                <ul>
                    <li><a href="~/Content/Nzd/legalwarning.html">Legal Warning</a></li>
                    <li><a href="~/Content/Nzd/cookiepolicy.html">Cookie Policy</a></li>
                    <li><a href="~/Content/Nzd/privacypolicy.html">Privacy Policy</a></li>
                    <li><a href="~/Content/Nzd/aboutus.html">About Us </a></li>
                    <li><a href="~/Content/Nzd/contact.html"> Contact</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

