
@{
    ViewBag.Title = "Legal Warning";
    Layout = "~/Views/Shared/_LayoutEnglish.cshtml";
}

<div class="banner">
    <div class="container">
        <div class="row">
            <h3 class="tt-title">LEGAL WARNING</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="breadcrumb">
            <ul>
                <li><a href="/Home/Indexen">Home Page</a></li>
                <li><i class="icofont icofont-double-right"></i></li>
                <li><a href="/YasalUyari/LegalWarning">Legal Warning</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="overview cellpadding">
    <div class="container">
        <div class="row">


            <h1>NZD <span>Construction Legal Warning </span></h1>

            <p>All usage rights on this website belong to NZD Construction and our guest visiting the site is deemed to have accepted the rules determined for the website by logging in. Therefore, please read the terms and conditions before using our website.</p>
            <p>NZD Construction does not guarantee the invariance of the information on the linked pages and does not make any commitment and declares that the content on these sites is not binding. The user (visitor) is responsible for any damages arising from the use of the linked sites or pages.</p>
            <p>It is prohibited to copy, modify or publish the information in the website, database or software codes partially or completely without the prior written consent of NZD Construction.</p>
            <p>NZD Construction is not responsible for any direct or indirect damages that may arise from entering this site and using the information on the site. The name, content, template, design and all rights to the documents of the website of NZD Construction are reserved. Unless otherwise stated on the pages within the site, no documents, pages, graphics, design elements and other elements in the site may be copied, moved, quoted, published or used on the internet or in any way without permission (for search engine directories even if they are taken from the temporary memory records they use). Our guests, who visit our site, declare and undertake that they accept all requests and explanations of our company regarding the copyright of the site. The copyrighted works may not be reproduced, quoted, published or published in any way without the consent of the owners. It may not be copied to other sites or media without the express prior consent of the Site Administrator.</p>
            <p>Any dispute that may arise as a result of entering / using this site is subject to the laws and Ankara Courts are authorized for the solution. Thank you for visiting NZD Construction website.</p>

            <div class="empty-space lg-30 sm-30 xs-30"></div>

        </div>
    </div>
</div>

		  </div>

<br /><br />
<div class="footer_strip footer_strip_02">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer_main">
                    <img src="~/Content/Nzd/assets/images/home2/logo.png" class="img-responsive" alt="Footer-Logo">
                    <div class="simple-text">
                        <p> Yenibosna Central Neighborhood Değirmenbahçe Street Airporthill C 11/9 D: 13 Bahçelievler/İstanbul</p>
                    </div>
                    <ul>
                        <li><a href="https://www.linkedin.com/company/nzdinsaat/"><i class="icofont icofont-social-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/nzdinsaat/"><i class="icofont icofont-social-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/Nzd-%C4%B0n%C5%9Faat-Tic-Ltd-%C5%9Eti-111595270220008/?modal=admin_todo_tour"><i class="icofont icofont-social-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC0ieLPLdjtHh40wY-tP001A/about?disable_polymer=1"><i class="icofont icofont-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="footer_one">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-phone"></i>Phone</h4>
                        <p>+90 (212) 551 90 61</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-envelope"></i> Email </h4>
                        <p><a href="mailto:info@nzdinsaat.com">info@nzdinsaat.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer_bottom">
    <div class="row">
        <div class="col-md-6">
            <div class="copyright">
                <p><span><a href="https://www.bykuul.com.tr">Bykuul Creative</a></span>© 2019 All Rights Reserved.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links">
                <ul>
                    <li><a href="~/Content/Nzd/legalwarning.html">Legal Warning</a></li>
                    <li><a href="~/Content/Nzd/cookiepolicy.html">Cookie Policy</a></li>
                    <li><a href="~/Content/Nzd/privacypolicy.html">Privacy Policy</a></li>
                    <li><a href="~/Content/Nzd/aboutus.html">About Us </a></li>
                    <li><a href="~/Content/Nzd/contact.html"> Contact</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

