
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_LayoutEnglish.cshtml";
}


<div class="slider-top hmslider1 hmslider2 hmslider3">
    <div class="tt-mslide-wrapper">
        <div class="swiper-container" data-loop="1">

            <div class="swiper-button-prev"><i class="icofont icofont-rounded-left"></i></div>
            <div class="swiper-button-next"><i class="icofont icofont-rounded-right"></i></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="tt-mslide one">
                        <div class="tt-mslide-entry slide1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="slider_content">
                                            <div class="tt-mslide-title white text-animation" data-animation="fadeInUp">
                                                <h3>BUILDS<span>AND</span> TODAY <span>TOMORROW </span></h3>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tt-mslide two">
                        <div class="tt-mslide-entry slide2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="slider_content">
                                            <div class="tt-mslide-title white text-animation" data-animation="fadeInUp">
                                                <h3>AWARE <span>OF TIME</span></h3>
                                            </div>
                                            <div class="wrapper-inner-tab-backgrounds-first text-animation" data-animation="fadeInUp">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tt-mslide three">
                        <div class="tt-mslide-entry slide3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="slider_content">
                                            <div class="tt-mslide-title white text-animation" data-animation="fadeInUp">
                                                <h3>ECOFRIENDLY</h3>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="welcome_section welcome_section_02 cellpadding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">

                <h2>For a <span>better tomorrow…</span></h2>
                <div class="simple-text">
                    <p>We move forward in the light of our principles and values to achieve our goals. In addition to being a commercially profitable company, we are working hard to be an efficient and productive company and to build better tomorrows.</p>

                </div>
            </div>



            <div class="image_sec">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="~/Content/Nzd/assets/images/1a.jpg" class="img-responsive imgheight" alt="Image">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <img src="~/Content/Nzd/assets/images/2a.jpg" class="img-responsive imgheight" alt="Image">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="empty-space lg-20 sm-20 xs-20"></div>
                        <img src="~/Content/Nzd/assets/images/3a.jpg" class="img-responsive imgheight1" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our_spacility our_spacility_11">
    <div class="img_2">
        <img src="~/Content/Nzd/assets/images/4a.jpg" class="img-responsive" alt="Image 1">
    </div>
    <div class="container-fluid padding_0">
        <div class="row">
            <div class="our_special">
                <div class="col-md-9 col-md-offset-3">
                    <br /><br /><br /><br />
                    <div class="our_special_1">
                        <div class="col-md-9 col-md-offset-3">
                            <div class="content">
                                <i class="icofont icofont-calculations"></i>
                                <h2>Plan</h2>
                                <p>After a detailed analysis of your organization's needs, budget, goals and resources, we develop solutions that are specific to you.</p>
                                <div class="border_bottom_50"></div>
                            </div>
                        </div>
                        <div class="col-md-9 col-md-offset-3">
                            <div class="content">
                                <i class="icofont icofont-help-robot"></i>
                                <h2>Strong Structure</h2>
                                <p>Our ability to use the latest information technologies and building techniques is based on standards and the importance we place on quality to environmental security is the source of our strength.</p>
                                <div class="border_bottom_50"></div>
                            </div>
                        </div>
                        <div class="col-md-9 col-md-offset-3">
                            <div class="content">
                                <i class="icofont icofont-under-construction-alt"></i>
                                <h2>Environment and Infrastructure</h2>
                                <p>Expert solutions with 20 years of experience in creating livable healthy infrastructure and environment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services_01 services_03">
    <div class="container">
        <div class="row">
            <div class="tt-title">Our Activities</div>

        </div>
        <div class="row">
            <div class="owl-carousel owl-carousel1 owl-theme">
                <div class="item">
                    <div class="single_service">
                        <div class="image image-opacity-on-hover image-zoom-on-hover">
                            <img src="~/Content/Nzd/assets/images/7i.jpg" alt="İnşaat" class="img-responsive">
                        </div>
                        <div class="content">
                            <h4 class="sub-title">Construction</h4>
                            <div class="simple-text">
                                <p></p>
                            </div>
                            <div class="wrapper-inner-tab-backgrounds-first">
                                <div class="sim-button button8">
                                    <a href="~/Content/Nzd/construction.html"><span>More<i class="icofont icofont-rounded-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="single_service">
                        <div class="image image-opacity-on-hover image-zoom-on-hover">
                            <img src="~/Content/Nzd/assets/images/6s.jpg" alt="Şehircilik" class="img-responsive">
                        </div>
                        <div class="content">
                            <h4 class="sub-title">Urbanism</h4>
                            <div class="simple-text">
                                <p> </p>
                            </div>
                            <div class="wrapper-inner-tab-backgrounds-first">
                                <div class="sim-button button8">
                                    <a href="~/Content/Nzd/urbanism.html"><span>More<i class="icofont icofont-rounded-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="single_service">
                        <div class="image image-opacity-on-hover image-zoom-on-hover">
                            <img src="~/Content/Nzd/assets/images/5e.jpg" alt="Enerji" class="img-responsive">
                        </div>
                        <div class="content">
                            <h4 class="sub-title">Energy</h4>
                            <div class="simple-text">
                                <p> </p>
                            </div>
                            <div class="wrapper-inner-tab-backgrounds-first">
                                <div class="sim-button button8">
                                    <a href="~/Content/Nzd/energy.html"><span>More<i class="icofont icofont-rounded-right"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="related_projects cellpadding">
    <div class="container">
        <div class="row">
            <div class="tt-title text-center"><br /><br />Projects</div>
            <div class="simple-text">

            </div>
        </div>
    </div>
    <div class="latest_work_01">
        <div class="owl-carousel owl-carousel6 owl-theme">
            <div class="item">
                <figure class="portfolio-item item">
                    <a href="~/Content/Nzd/project1.html">
                        <img src="~/Content/Nzd/assets/images/s.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">

                            <a href="~/Content/Nzd/assets/images/s-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>

            <div class="item">
                <figure class="portfolio-item item">
                    <a href="~/Content/Nzd/project1.html">
                        <img src="~/Content/Nzd/assets/images/s3.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">

                            <a href="~/Content/Nzd/assets/images/s3-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>
            <div class="item">
                <figure class="portfolio-item item">
                    <a href="~/Content/Nzd/project1.html">
                        <img src="~/Content/Nzd/assets/images/s4.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">

                            <a href="~/Content/Nzd/assets/images/s4-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>
            <div class="item">
                <figure class="portfolio-item item">
                    <a href="~/Content/Nzd/project1.html">
                        <img src="~/Content/Nzd/assets/images/s15.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">

                            <a href="~/Content/Nzd/assets/images/s15-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>
            <div class="item">
                <figure class="portfolio-item item">
                    <a href="~/Content/Nzd/project1.html">
                        <img src="~/Content/Nzd/assets/images/s12.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">

                            <a href="~/Content/Nzd/assets/images/s12-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>
            <div class="item">
                <figure class="portfolio-item item">
                    <a href="~/Content/Nzd/project2.html">
                        <img src="~/Content/Nzd/assets/images/s9.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">

                            <a href="~/Content/Nzd/assets/images/s9-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>

            <div class="item">
                <figure class="portfolio-item item">
                    <a href="~/Content/Nzd/project1.html">
                        <img src="~/Content/Nzd/assets/images/s6.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">

                            <a href="~/Content/Nzd/assets/images/s6-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>

            <div class="item">
                <figure class="portfolio-item item">
                    <a href="~/Content/Nzd/project3.html">
                        <img src="~/Content/Nzd/assets/images/b8.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">

                            <a href="~/Content/Nzd/assets/images/b8-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>

                        </div>

                    </div>
                </figure>
            </div>

            <div class="item">
                <figure class="portfolio-item item">
                    <a href="~/Content/Nzd/project2.html">
                        <img src="~/Content/Nzd/assets/images/kent6.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">

                            <a href="~/Content/Nzd/assets/images/kent6-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>

                        </div>

                    </div>
                </figure>
            </div>
            <div class="item">
                <figure class="portfolio-item item">
                    <a href="~/Content/Nzd/project2.html">
                        <img src="~/Content/Nzd/assets/images/kent2-1.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">

                            <a href="~/Content/Nzd/assets/images/kent21-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>

                        </div>

                    </div>
                </figure>
            </div>


        </div>
    </div>
</div>


<div class="client_carousel_01  client_carousel_02 cellpadding">
    <div class="container">
        <div class="row">
            <h3 class="tt-title text-center">Solution Partners</h3>
        </div>
        <div class="row">
            <div class="owl-carousel owl-carousel2 owl-theme">
                <div class="item">
                    <img src="~/Content/Nzd/assets/images/polatyol.png" alt="Polatyol">
                </div>
                <div class="item">
                    <img src="~/Content/Nzd/assets/images/odakent.png" alt="Odakent">
                </div>

                <div class="item">
                    <img src="~/Content/Nzd/assets/images/keremcevre.png" alt="Kerem Çevre">
                </div>
                <div class="item">
                    <img src="~/Content/Nzd/assets/images/marmarasehircilik.png" alt="Marmara Şehircilik">
                </div>

                <div class="item">
                    <img src="~/Content/Nzd/assets/images/hivetto.png" alt="Hivetto">
                </div>
                <div class="item">
                    <img src="~/Content/Nzd/assets/images/mekansalplanlama.png" alt="Mekansal Planlama">
                </div>
            </div>
        </div>
    </div>
</div>

<br /><br />
<footer>
    <div class="footer_strip footer_strip_02">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer_main">
                        <img src="~/Content/Nzd/assets/images/home2/logo.png" class="img-responsive" alt="Footer-Logo">
                        <div class="simple-text">
                            <p> Yenibosna Central Neighborhood Değirmenbahçe Street Airporthill C 11/9 D: 13 Bahçelievler/İstanbul</p>
                        </div>
                        <ul>
                            <li><a href="https://www.linkedin.com/company/nzdinsaat/"><i class="icofont icofont-social-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/nzdinsaat/"><i class="icofont icofont-social-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/Nzd-%C4%B0n%C5%9Faat-Tic-Ltd-%C5%9Eti-111595270220008/?modal=admin_todo_tour"><i class="icofont icofont-social-facebook"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UC0ieLPLdjtHh40wY-tP001A/about?disable_polymer=1"><i class="icofont icofont-social-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="footer_one">

                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <h4 class="sub-title"><i class="icofont icofont-phone"></i> Phone</h4>
                            <p>+90 (212) 551 90 61</p>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <h4 class="sub-title"><i class="icofont icofont-envelope"></i> Email </h4>
                            <p><a href="mailto:info@nzdinsaat.com">info@nzdinsaat.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer_bottom">
        <div class="row">
            <div class="col-md-6">
                <div class="copyright">
                    <p><span><a href="https://www.bykuul.com.tr">Bykuul Creative</a></span>© 2019 All Rights Reserved.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="links">
                    <ul>
                        <li><a href="~/Content/Nzd/legalwarning.html">Legal Warning</a></li>
                        <li><a href="~/Content/Nzd/cookiepolicy.html">Cookie Policy</a></li>
                        <li><a href="~/Content/Nzd/privacypolicy.html">Privacy Policy</a></li>
                        <li><a href="~/Content/Nzd/aboutus.html">About Us </a></li>
                        <li><a href="~/Content/Nzd/contact.html"> Contact</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>

