
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_LayoutEnglish.cshtml";
}

<div class="banner">
    <div class="container">
        <div class="row">
            <h3 class="tt-title">PROJECTS</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="breadcrumb">
            <ul>
                <li><a href="/Home/Index">Home Page</a></li>
                <li><i class="icofont icofont-double-right"></i></li>
                <li><a href="/Proje/Projects">Projects</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="portfolio latest_work_01 project_3columns cellpadding">
    <div class="container">
        <div class="row">
            <ul class="portfolio-sorting list-inline text-center">
                <li><a href="#" data-group="all" class="active">ALL</a></li>
                <li><a href="#" data-group="completed">COMPLETED PROJECT</a></li>
                <li><a href="#" data-group="continuing">ONGOING PROJECT</a></li>
            </ul>
            <div class="portfolio-items list-unstyled caption-style-4" id="grid">
                <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["completed"]'>
                    <figure class="portfolio-item item">
                        <img src="~/Content/Nzd/assets/images/s17.jpg" alt="Item 1" class="img-responsive">
                        </a>
                        <div class="overlay">
                            <div class="inner">
                                <a href="/Proje/ProjeOne">
                                    <h5>Wastewater, Rainwater and Stream Rehabilitation Constructions and Road and Environmental Arrangement in Istanbul</h5>
                                    <a href="~/Content/Nzd/assets/images/s17-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                            </div>
                        </div>
                    </figure>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["completed"]'>
                    <figure class="portfolio-item item">
                        <img src="~/Content/Nzd/assets/images/kent3-1.jpg" alt="Item 1" class="img-responsive">
                        </a>
                        <div class="overlay">
                            <div class="inner">
                                <a href="/Proje/ProjeTwo">
                                    <h5>Istanbul Bayrampaşa District Vatan Neighborhood Urban Transformation Project</h5>
                                    <a href="~/Content/Nzd/assets/images/kent31-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["continuing"]'>
                    <figure class="portfolio-item item">
                        <img src="~/Content/Nzd/assets/images/b7.jpg" alt="Item 1" class="img-responsive">
                        </a>
                        <div class="overlay">
                            <div class="inner">
                                <a href="/Proje/ProjeThree">
                                    <h5>İstanbul Başakşehir, Küçükçekmece, Kağıthane, Eyüp and Sarıyer Districts Waste Water, Rain Water and Stream Rehabilitation Constructions and Road and Environmental Arrangement</h5>
                                    <a href="~/Content/Nzd/assets/images/b7-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6" data-groups='["continuing"]'>
                    <figure class="portfolio-item item">
                        <img src="~/Content/Nzd/assets/images/kuzey1.jpg" alt="Item 1" class="img-responsive">
                        </a>
                        <div class="overlay">
                            <div class="inner">
                                <a href="/Proje/ProjeFour">
                                    <h5>Construction of Tetovo-Tearce Wastewater Canal and Treatment Plants in the Republic of Northern Macedonia</h5>
                                    <a href="~/Content/Nzd/assets/images/kuzey1-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                            </div>
                        </div>
                    </figure>
                </div>



                <div class="col-md-4 col-sm-6 col-xs-6 shuffle_sizer"></div>
            </div>
        </div>
    </div>
</div>
<br /><br />
<div class="footer_strip footer_strip_02">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer_main">
                    <img src="~/Content/Nzd/assets/images/home2/logo.png" class="img-responsive" alt="Footer-Logo">
                    <div class="simple-text">
                        <p> Yenibosna Central Neighborhood Değirmenbahçe Street Airporthill C 11/9 D: 13 Bahçelievler/İstanbul</p>
                    </div>
                    <ul>
                        <li><a href="https://www.linkedin.com/company/nzdinsaat/"><i class="icofont icofont-social-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/nzdinsaat/"><i class="icofont icofont-social-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/Nzd-%C4%B0n%C5%9Faat-Tic-Ltd-%C5%9Eti-111595270220008/?modal=admin_todo_tour"><i class="icofont icofont-social-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC0ieLPLdjtHh40wY-tP001A/about?disable_polymer=1"><i class="icofont icofont-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="footer_one">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-phone"></i> Phone</h4>
                        <p>+90 (212) 551 90 61</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-envelope"></i> Email </h4>
                        <p><a href="mailto:info@nzdinsaat.com">info@nzdinsaat.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer_bottom">
    <div class="row">
        <div class="col-md-6">
            <div class="copyright">
                <p><span><a href="https://www.bykuul.com.tr">Bykuul Creative</a></span>© 2019 All Rights Reserved.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links">
                <ul>
                    <li><a href="~/Content/Nzd/legalwarning.html">Legal Warning</a></li>
                    <li><a href="~/Content/Nzd/cookiepolicy.html">Cookie Policy</a></li>
                    <li><a href="~/Content/Nzd/privacypolicy.html">Privacy Policy</a></li>
                    <li><a href="~/Content/Nzd/aboutus.html">About Us </a></li>
                    <li><a href="~/Content/Nzd/contact.html"> Contact</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

