
@{
    ViewBag.Title = "Istanbul Bayrampaşa District Vatan Neighborhood Urban Transformation Project";
    Layout = "~/Views/Shared/_LayoutEnglish.cshtml";
}

<div class="banner">
    <div class="container">
        <div class="row">
            <h3 class="tt-title">Istanbul Bayrampaşa District Vatan Neighborhood Urban Transformation Project</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="breadcrumb">
            <ul>
                <li><a href="/Proje/Projects">Projects</a></li>
                <li><i class="icofont icofont-double-right"></i></li>
                <li class="active"><a href="/Proje/ProjeTwo">Completed Projects</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="related_projects cellpadding">
    <div class="container">
        <div class="row">
        </div>
    </div>
    <div class="latest_work_01">
        <div class="owl-carousel owl-carousel6 owl-theme">
            <div class="item">
                <figure class="portfolio-item item">
                    <a href="#">
                        <img src="~/Content/Nzd/assets/images/ke3.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">
                            <a href="~/Content/Nzd/assets/images/ke3-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>
            <div class="item">
                <figure class="portfolio-item item">
                    <a href="#">
                        <img src="~/Content/Nzd/assets/images/kent2-1.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">
                            <a href="~/Content/Nzd/assets/images/kent21-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>
            <div class="item">
                <figure class="portfolio-item item">
                    <a href="#">
                        <img src="~/Content/Nzd/assets/images/kent3-1.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">
                            <a href="~/Content/Nzd/assets/images/kent31-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>

            <div class="item">
                <figure class="portfolio-item item">
                    <a href="#">
                        <img src="~/Content/Nzd/assets/images/kent5.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">
                            <a href="~/Content/Nzd/assets/images/kent5-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>
            <div class="item">
                <figure class="portfolio-item item">
                    <a href="#">
                        <img src="~/Content/Nzd/assets/images/kent6.jpg" alt="Item 1" class="img-responsive">
                    </a>
                    <div class="overlay">
                        <div class="inner">
                            <a href="~/Content/Nzd/assets/images/kent6-900.jpg" class="zoom popupzoom"><i class="icofont icofont-search"></i></a>
                        </div>

                    </div>
                </figure>
            </div>

        </div>
    </div>
</div>


<br /><br />   <br /><br />
<div class="footer_strip footer_strip_02">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="footer_main">
                    <img src="~/Content/Nzd/assets/images/home2/logo.png" class="img-responsive" alt="Footer-Logo">
                    <div class="simple-text">
                        <p> Yenibosna Central Neighborhood Değirmenbahçe Street Airporthill C 11/9 D: 13 Bahçelievler/İstanbul</p>
                    </div>
                    <ul>
                        <li><a href="https://www.linkedin.com/company/nzdinsaat/"><i class="icofont icofont-social-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/nzdinsaat/"><i class="icofont icofont-social-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/Nzd-%C4%B0n%C5%9Faat-Tic-Ltd-%C5%9Eti-111595270220008/?modal=admin_todo_tour"><i class="icofont icofont-social-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC0ieLPLdjtHh40wY-tP001A/about?disable_polymer=1"><i class="icofont icofont-social-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="footer_one">

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-phone"></i> Phone</h4>
                        <p>+90 (212) 551 90 61</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <h4 class="sub-title"><i class="icofont icofont-envelope"></i> Email </h4>
                        <p><a href="mailto:info@nzdinsaat.com">info@nzdinsaat.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="footer_bottom">
    <div class="row">
        <div class="col-md-6">
            <div class="copyright">
                <p><span><a href="https://www.bykuul.com.tr">Bykuul Creative</a></span>© 2019 All Rights Reserved.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="links">
                <ul>
                    <li><a href="~/Content/Nzd/legalwarning.html">Legal Warning</a></li>
                    <li><a href="~/Content/Nzd/cookiepolicy.html">Cookie Policy</a></li>
                    <li><a href="~/Content/Nzd/privacypolicy.html">Privacy Policy</a></li>
                    <li><a href="~/Content/Nzd/aboutus.html">About Us </a></li>
                    <li><a href="~/Content/Nzd/contact.html"> Contact</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>

